@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Style(3).css - High Priority */
:root {
  --bg-white: hsla(0, 0%, 100%, 1);
  --bg-light-gray: hsla(240, 1%, 83%, 1);
  --bg-jet: hsla(0, 0%, 18%, 1);
  --bg-eerie-black: hsla(0, 0%, 13%, 1);
  --bg-black: hsla(0, 0%, 0%, 1);
  --text-white: hsla(0, 0%, 100%, 1);
  --text-light-gray: hsla(240, 1%, 83%, 1);
  --fontFamily-roboto: 'Roboto', sans-serif;
  --fontSize-8: 1.6rem;
}

/* Reset Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base Styles */
body {
  background-color: var(--bg-black);
  color: var(--text-light-gray);
  font-family: var(--fontFamily-roboto);
  font-size: var(--fontSize-8);
  line-height: 1.75;
}

.container {
  max-width: 1068px;
  margin: auto;
  padding: 16px;
}

/* Header, Navbar, and Footer Styles */
.header, .navbar, .footer {
  background-color: var(--bg-black);
  color: var(--text-light-gray);
}

/* Progress Bar */
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 4px;
  background-color: var(--bg-light-gray);
  z-index: 200;
}

/* Home Section */
.home {
  width: 100%;
  min-height: 440px;
  background: url("images/banner2.png") no-repeat center center;
  display: grid;
  justify-content: center;
  align-items: center;
}

.home-text {
  color: var(--bg-white);
  text-align: center;
}

.home-title {
  font-size: 3.5rem;
}

.home-subtitle {
  font-size: 1rem;
  font-weight: 400;
}

/* About Section */
.about {
  position: relative;
  width: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.about .contentBx {
  max-width: 50%;
  width: 50%;
  text-align: left;
  padding-right: 40px;
}

.titleText {
  font-weight: 600;
  color: #111;
  font-size: 2rem;
  margin-bottom: 10px;
}

.title-text {
  color: #111;
  font-size: 1em;
}

.about .imgBx {
  position: relative;
  min-width: 50%;
  width: 50%;
  min-height: 500px;
}

/* Button Styles */
.btn2 {
  position: relative;
  display: inline-block;
  margin-top: 30px;
  padding: 10px 30px;
  background: #fff;
  border: .8px solid #111;
  color: #333;
  text-decoration: none;
  transition: 0.5s;
}

.btn2:hover {
  background-color: var(--bg-light-gray);
  border: none;
  color: #fff;
}

/* Post Filter */
.post-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  margin-top: 2rem !important;
}

.filter-item {
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
}

.active-filter {
  background: var(--bg-light-gray);
  color: var(--bg-black);
  padding: 4px 10px;
  border-radius: 4px;
}

/* Post Box */
.post {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  justify-content: center;
  gap: 1.5rem;
}

.post-box {
  background: var(--bg-black);
  box-shadow: 0 4px 14px hsl(35deg 25% 15% / 10%);
  padding: 15px;
  border-radius: 0.5rem;
}

.post-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}

.category {
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--bg-light-gray);
}

.post-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--text-light-gray);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.post-date {
  display: flex;
  font-size: 0.875rem;
  text-transform: uppercase;
  margin-top: 4px;
  font-weight: 400;
}

.post-description {
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin: 5px 0 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 2px solid var(--bg-light-gray);
}

.profile-name {
  font-size: .8rem;
  font-weight: 500;
}

/* Footer Styles */
footer {
  padding: 50px 100px;
  background: var(--bg-jet);
  display: flex;
  justify-content: space-between;
}

.footer-container h2::before {
  background: rgb(77, 228, 255);
}

.footer-container .sci li a {
  background: #222;
}

.footer-container .sci li a:hover {
  background: rgb(77, 228, 255);
}

@media (max-width: 1060px) {
  .container {
    margin: 0 auto;
    width: 95%;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 10px 0;
  }

  .section {
    padding: 2rem 0 !important;
  }

  .home {
    min-height: 380px;
  }

  .home-title {
    font-size: 3rem;
  }

  .about {
    flex-direction: column;
  }

  .about .contentBx,
  .about .imgBx {
    min-width: 100%;
    width: 100%;
    padding-right: 0px;
    text-align: center;
  }

  .about .imgBx {
    min-height: 250px;
  }

  .btn2 {
    margin-bottom: 30px;
  }

  .post-box {
    padding: 10px;
  }
}
